<template>
  <div v-if="item.dappUrl || item.website" class="wrapper">
    <span v-if="item.dappUrl === item.website">
      <a v-if="item.website" :href="item.website" @click="$mixpanel.track('DApp - CTA', { websiteDapp: item.website })" class="link" target="_blank" :rel="'noopener noreferrer' + (item.nofollow ? ' nofollow' : '')">Launch IoTApp/Website<span v-if="item.isNsfw"> (NSFW)</span></a>
    </span>
    <span v-else>
      <a v-if="item.dappUrl" :href="item.dappUrl" @click="$mixpanel.track('DApp - CTA', { dapp: item.dappUrl })" class="link" target="_blank" :rel="'noopener noreferrer' + (item.nofollow ? ' nofollow' : '')">Launch IoTApp<span v-if="item.isNsfw"> (NSFW)</span></a>
      <a v-if="item.website" :href="item.website" @click="$mixpanel.track('DApp - CTA', { website: item.website })" class="link" target="_blank" :rel="'noopener noreferrer' + (item.nofollow ? ' nofollow' : '')">Visit website<span v-if="item.isNsfw"> (NSFW)</span></a>
    </span>
  </div>
</template>

<script>
  export default {
    computed: {
      item () {
        return this.$store.getters['dapps/detail/item']
      }
    }
  }
</script>

<style lang="scss" scoped>
  @import '~assets/css/settings';

  .link {
    position: relative;
    display: inline-block;
    margin: 10px 0 10px 6px;
    text-decoration: none;
    padding: 15px 25px;
    color: $color--gallery;
    background: $color--mine-shaft;
    box-shadow: 0 17px 70px rgba($color--mine-shaft,.4);
    @include tweakpoint('min-width', $tweakpoint--default) {
      padding: 20px 40px;
      font-size: 1.1rem;
    }
  }

  .wrapper {
    text-align: center;
  }
</style>
